<h1>Cart App</h1>

<%= form_tag products_path, method: :post do %>

    <%= text_field_tag :product %>
    <%= submit_tag "Add to Cart" %>
    
<% end %>

<% if flash[:item] %>
    <h3>You added <%= flash[:item] %> to your cart.</h3>
<% end %>

<h3>Current Cart:</h3>

<ul>
    <% @cart.each do |item| %>
        <li><%= item %></li>
    <% end %>
</ul>